body{
font-family:"Arial";
background-color:white;
}
 type="text/css"><!--
a:link, a:visited, a:active {text-decoration: none}
-->
a{
text-decoration:none;
}

a.condiciones:hover{
text-decoration:underline;
}	
a.privacidad:hover{
text-decoration:underline;
}	
a.cookies:hover{
text-decoration:underline;
}	
	
h1.bershka:hover{
	color:black;
	transition:2s; 
}
	
a.bershka{
	text-decoration:none;
}


z-index:-1;
}

img.bershka1{
	height:600px;
	width: 400px;
	z-index:-1;
}

img.bershka2{
	height:600px;
	width: 400px;
		z-index:-1;
}

img.bershka3{
	height:600px;
	width: 400px;
		z-index:-1;
}

div.rosalia{
	margin-top: 20px;
	margin-left:65px;
}


div.bershka{
	margin-left:5px;
	position:absolute;
	margin-top: 50px;
	height:500px;
}


div.bershka2{
	margin-left:20px;
	position:absolute;
	margin-top: 50px;
}


div.bershka3{
	margin-left:30px;
	position:absolute;
	margin-top: 50px;
}


div.avisos{
	background-color:#333;
}



h1.htwo{
	position:absolute;
    margin-left:540px;
	margin-top:490px;
	color:white;
	font-family:"Palatino Linotype";
	font-size: 70;
}

h1.hone{
color:black;
text-align:center;
font-family:"Arial";
text-align:center;
}

h1.bershka{
	color:white;
	font-family:"Palatino Linotype";
	font-size: 40;
	height:560px;
	width:400px;
}

.gg-comment {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 20px;
 height: 16px;
 border: 2px solid;
 border-bottom: 0;
 margin-left:150px;
 box-shadow:
 -6px 8px 0 -6px,
 6px 8px 0 -6px
}
.gg-comment:hover {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 20px;
 height: 16px;
 border: 2px solid;
 border-bottom: 0;
 margin-left:150px;
 box-shadow:
 -6px 8px 0 -6px,
 6px 8px 0 -6px
}

.icono:hover {
   background-color: rgba(0, 0, 0, 0.17);
   height:90px;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color:  rgba(0, 0, 0, 0.1);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  position: absolute;
  z-index: 1;
  margin-left:-55px;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}


.gg-comment::after,
.gg-comment::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 8px
}

.gg-comment::before {
 border: 2px solid;
 border-top-color: transparent;
 border-bottom-left-radius: 20px;
 right: 4px;
 bottom: -6px;
 height: 6px
}

.gg-comment::after {
 height: 2px;
 background: currentColor;
 box-shadow: 0 4px 0 0;
 left: 4px;
 top: 4px
} 

a:link.condiciones{
	color:white;
}

a:visited.condiciones{
	color:white;
}

a:hover.condiciones{
	color:white;
}

a:active.condiciones{
	color:white;
}

a:link.privacidad{
	color:white;
}

a:visited.privacidad{
	color:white;
}

a:hover.privacidad{
	color:white;
}

a:active.privacidad{
	color:white;
}

a:link.cookies{
	color:white;
}

a:visited.cookies{
	color:white;
}

a:hover.cookies{
	color:white;
}

a:active.cookies{
	color:white;
}

img.rosalia:hover{
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}



p {
text-align:left;
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color:rgba(0, 0, 0, 1);
  font-size:17;
  padding: 0px 0px;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

.links{
color:white;
}


div.lohso{
	background-color:  rgba(0, 0, 0, 0.3);
	width:170px;
}

div.lohso a:hover{
	background-color:rgba(0, 0, 0, 0);
}
	
div.everything{
	margin-left:0px;
}

li a:hover.lohso{
	background-color:rgba(0, 0, 0, 0.6);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 5px;
  text-decoration: none;
  font-size: 17;

}

h3.lohso{
	margin-left:30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover, .dropdown:hover .dropbtn {
 background-color:hsla(213, 46%, 100%, 0.1)
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsla(213, 46%, 100%, 0.1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color:background-color:hsla(213, 46%, 100%, 0.1);}

.dropdown:hover .dropdown-content {
  display: block;
  background-color:rgba(0, 0, 0, 0.6);
  color:white;
}


.hola1 {
	padding:130px;
	margin-top: -100px;
	
}

.hola2 {
	font-size:35px;
    text-align: center;
	font-family: verdana;
}

.hola3 {
    font-size:21px;
    font-family:verdana;
}

.hola4{
    width:1000px;
    margin: 60px;
}
