body{
font-family:"Arial";
background-color:white;
}

h1.hone{
color:black;
text-align:center;
font-family:"Arial";
text-align:center;
}

h1.hm{
	font-family:"Palatino Linotype";
	color:red;
}
h1.lohso{
	font-family:"Palatino Linotype";
}

h1.novedades1{
	font-family:"Palatino Linotype";
	color:white;
	font-size:20;
}


h1.novedades2{
	font-family:"Palatino Linotype";
	color:white;
	font-size:20;
}


h1.novedades3{
	font-family:"Palatino Linotype";
	color:white;
	font-size:20;
}

h3.reciclar{
	text-align:center;
}

p{
	text-align:justify;
}

div.novedades{
	margin-left:90px;
	margin-right:90px;
}

div.hm{
	margin-left:550px;
}

div.lohso2{
	margin-right:540px;
}

div.novedades1{
	position:absolute;
	margin-left:-47px;
	margin-top:40px;
	background-color: rgba(0,0,0,0.1);
}


div.novedades2{
	position:absolute;
	margin-left:-15px;
	margin-top:40px;
	background-color: rgba(0,0,0,0.1);
}

div.novedades3{
	position:absolute;
	margin-left:18px;
	margin-top:40px;
	background-color: rgba(0,0,0,0.1);
}

div.novedades4{
	position:absolute;
	margin-left:-48px;
	margin-top:40px;
	background-color: rgba(0,0,0,0.1);
}

div.novedades5{
	position:absolute;
	margin-left:-164px;
	margin-top:40px;
	background-color: rgba(0,0,0,0.1);
}
img:hover{
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

img.novedades1{
	height:550px;
	width:400px;
}

img.novedades2{
	height:550px;
	width:400px;
}

img.novedades4{
	height:600px;
	width:450px;
}

img.novedades5{
	height:600px;
	width:780px;
}

.gg-comment {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 20px;
 height: 16px;
 border: 2px solid;
 border-bottom: 0;
 margin-left:150px;
 box-shadow:
 -6px 8px 0 -6px,
 6px 8px 0 -6px
}
.gg-comment:hover {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 20px;
 height: 16px;
 border: 2px solid;
 border-bottom: 0;
 margin-left:150px;
 box-shadow:
 -6px 8px 0 -6px,
 6px 8px 0 -6px
}

.icono:hover {
   background-color: rgba(0, 0, 0, 0.17);
   height:90px;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color:  rgba(0, 0, 0, 0.1);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  position: absolute;
  z-index: 1;
  margin-left:-55px;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}


.gg-comment::after,
.gg-comment::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 8px
}

.gg-comment::before {
 border: 2px solid;
 border-top-color: transparent;
 border-bottom-left-radius: 20px;
 right: 4px;
 bottom: -6px;
 height: 6px
}

.gg-comment::after {
 height: 2px;
 background: currentColor;
 box-shadow: 0 4px 0 0;
 left: 4px;
 top: 4px
} 
	
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.6);
  font-size:17;
  padding: 0px 0px;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

.links{
color:white;
}

div.lohso{
	background-color:  rgba(0, 0, 0, 0.3);
	width:170px;
}

div.lohso a:hover{
	background-color:rgba(0, 0, 0, 0);
}
	
div.everything{
	margin-left:0px;
}

li a:hover.lohso{
	background-color:rgba(0, 0, 0, 0.6);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 5px;
  text-decoration: none;
  font-size: 17;

}

h3.lohso{
	margin-left:30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover, .dropdown:hover .dropbtn {
 background-color:hsla(213, 46%, 100%, 0.1)
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: background-color:hsla(213, 46%, 100%, 0.1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color:background-color:hsla(213, 46%, 100%, 0.1);}

.dropdown:hover .dropdown-content {
  display: block;
  background-color:rgba(0, 0, 0, 0.6);
  color:white;
}